body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #111;
    padding: 15px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

.container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
}
